@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@theme {
  --font-rope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --breakpoint-sm: 720px;
  --breakpoint-xs: 464px;
}
